# This workflow will build a .NET project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-net

name: .NET Publish Nuget Packages

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  #push:
  #  branches: [ "main" ]
  pull_request:
    types: [closed]
    branches: [ "main" ]
    
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:
    
env:
  # Path to solution
  SOLUTION: 'src/MAOToolkit.sln'
  # Stop wasting time caching packages
  DOTNET_SKIP_FIRST_TIME_EXPERIENCE: true
  # Disable .NET welcome and telemetry messages are displayed on the first run
  DOTNET_NOLOGO: true
  # Disable sending usage data to Microsoft
  DOTNET_CLI_TELEMETRY_OPTOUT: true
  # Project name to pack and publish
  PROJECT_NAME: MAOToolkit
  # GitHub Packages Feed settings
  GITHUB_FEED: https://nuget.pkg.github.com/7702244/index.json
  GITHUB_TOKEN: ${{ secrets.WRITE_PACKAGES_TOKEN }}
  # Official NuGet Feed settings
  NUGET_FEED: https://api.nuget.org/v3/index.json
  NUGET_KEY: ${{ secrets.NUGET_KEY }}

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
      
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Max timeout for job.
    timeout-minutes: 5

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v3
    
      - name: Setup .NET
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: 7.0.x

      - name: Check .NET Version
        run: echo '.NET version:' $(dotnet --version)
        
      - name: Restore dependencies
        run: dotnet restore $SOLUTION
        
      - name: Build
        run: dotnet build $SOLUTION --configuration Release --no-restore
        
      - name: Test
        run: dotnet test $SOLUTION /p:Configuration=Release --no-restore --no-build --verbosity normal
        
      - name: Create the package
        run: dotnet pack $SOLUTION --configuration Release --no-restore --no-build --verbosity normal

      - name: "✏️ Generate release changelog"
        uses: heinrichreimer/github-changelog-generator-action@v2.3
        with:
          token: ${{ secrets.GITHUB_TOKEN }} 

      - name: View Changelog
        run: echo ${{steps.outputs.changelog}}

      - name: Create Release
        uses: mikepenz/action-gh-release@v0.2.0-a03 #softprops/action-gh-release
        with:
          body: ${{steps.outputs.changelog}}
        
      - name: Publish the package to GitHub Feed
        run: dotnet nuget push **\*.nupkg --source $GITHUB_FEED --api-key $GITHUB_TOKEN
        
      - name: Publish the package to NuGet Feed
        if: env.NUGET_KEY != null
        run: dotnet nuget push **\*.nupkg --source $NUGET_FEED --api-key $NUGET_KEY
